* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

body {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

nav {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

.aside-main-container {
    margin: 50px 30px;
    display: flex;
    justify-content: space-between;
    height: 500px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.link-button {
    border: none;
    cursor: pointer;
    background-color: inherit;
    color: inherit;
    font-size: 40px;
    font-family: 'Audiowide', cursive;
    font-weight: 100;
}

.pocket-text {
    font-size: 80px;
    font-family: 'Audiowide', cursive;
    font-weight: 100;
}

.app-name {
    font-family: 'Audiowide', cursive;
    font-weight: 100;
    color: #4dd0e1;
}

.subtext {
    text-align: center;
    font-size: 20px;
}

.clickable {
    color: grey;
}

.clickable:hover {
    color: black;
}

.clickable-dark {
    color: grey;
}

.clickable-dark:hover {
    color: white;
}
