* {
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

nav {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

.page-container {
    margin: 50px 20px;
    display: flex;
    justify-content: space-between;
    height: 500px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.link-button {
    border: none;
    cursor: pointer;
    background-color: inherit;
    color: inherit;
}

.pocket-text {
    font-size: 50px;
}

.app-name {
    /* text-align: center; */
    color: teal;
}
