#math {
    width: 500px;
    height: 500px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

#lcd {
    text-align: right;
    padding: 1rem;
    font-size: 2.5rem;
    /* overflow-x: scroll; */
    border: 1px solid #dadada;
    border-radius: 0.25rem;
}

#numbers {
    align-content: center;
    width: 100%;
}

#numbers button {
    font-size: 1.5rem;
    border: none;
    background-color: inherit;
    width: 25%;
    margin: 17px;
    cursor: pointer;
}

.operations-div {
    display: flex;
    justify-content: space-between;
    width: 500px;
}
.operations-div button {
    border: none;
    background-color: inherit;
    font-size: 1.5rem;
    cursor: pointer;
}
